footer{
    padding: 7em 0;
}

.footer-10{
    background: #2d3c4d;
    padding: 0 0 4em 0;
    .border-top, .border-bottom{
        border-color: rgba(255,255,255,.1) !important;
    }
    .footer-heading{
        font-size: 18px;
        color: $white;
        margin-bottom: 30px;
    }
    p{
        color: rgba(255,255,255,.3);
    }
    a{
        color: $primary;
    }
    .con{
        &.con-1{
            background: #263444;
        }
        &.con-2{
            background: #263444;
        }
        &.con-3{
            background: #263444;
        }
    }
    .list-unstyled{
        li{
            a{
                color: rgba(255,255,255,.2);
                &:hover{
                    color: $white;
                }
            }

            span{
                color: rgba(255,255,255,.2);
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .con-info{
        .icon{
            width: 50px;
            height: 50px;
            background: $primary;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
            span{
                color: $white;
                font-size: 24px;
            }
        }
        span{
            color: rgba(255,255,255,.8);
        }
    }
}
